body {
  background-color: #fff;
  color: #333;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

header {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

.button-row {
  text-align: center;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border-width: 0;
  font-size: 20px;
  background-color: #6294D3;
  color: #eee;
}

.title {
  width:90%;
  margin: auto;
}

.title img {
  width: 100%;
}

.subtitle {
  width: 100%;
  text-align: center;
  background-color: red;
}

.headerbutton{
background-color: red;

}

/*#s1{
  bottom:10px;
  right:20px;
  position:align-right;
}
p:nth-child(1){
  background-color: red;
  }
p:nth-of-type(2){
  background-color: gray;
}
main::before{
  content:"+++++";
}
main ::after{
  content:"+++++";
}
p:not(.todosHome .todosUni)::before{
  content:attr(data-due) "/" attr(data-prio) ":";
  color:green;
}*/
section p {
  background-color: red;
}
footer{
  background-color: orange;
}