body {
  background-color: #0f0f38;
  color: #ebeff0;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

header {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 50px;
}

main {
  height: 300px;
  background-color: #ebeff0;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

.title {
  width: 50%;
  margin: auto;
  text-align: center;
}

#title-logo {
  max-width: 400px;
}

.subtitle {
  width: 100%;
  text-align: center;
  position:relative;
}

.button-row {
  text-align: center;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 4px;
  color: #ebeff0;
  text-decoration: none;
}

.btn-twitter{
  color:#fff;
  background-color:#00917f;
  border-color:rgba(0,0,0,0.2)
}
